
html{font-family:sarif;
}
body{
	margin:0;
	padding:0;
	border-radius:none;
	height:100%;
	background-color:#40ff00 !important ;
	}
#myhomepageheader{
	padding-bottom:2px;
	margin-left:75px;
	margin-bottom:50px,0,25px,25px;
	color:yellow;
	background-color:#ff00ff;
	display:block;
	text-align:center;
}
#home{background-color:#0000ff;
width:100%;

margin-top:1em;
padding-left:5px;
}
.container{
	height:100%;
	width:80%;
	border:5px solid yellow;
	background-color:green;
color:yellow;
text-align:center;
}
.lists p{
	margin-bottom:15px;
	margin-top:15px;
	padding:25px;
	position:relative;
	color:yellow;
	text-decoration:none;
	background-color:gold;
	display:inline-block;
}
h4{
	color:0fffff;
}
#objective{
	background-color:silver;
	font-size:16px;
	text-align:center;
	font-size:italic;
	color:#0000ff;
}
.homefooter{
	margin-top:25px;
	padding-left:10p;
	border-radius:5px solid black;
	text-align:right;
	color:black;
	font-size:bold;
}
h1,h2,h3{color:rgb(0, 100, 255);
text-align:center;
}

#login{
width:100%;
border:2px solid green;
margin:auto;
text-align:center;
background:#A9D0F5; 
border: 3 px solid #eeeee; 
padding:9px 9px;
 width:300px; 
 border-radius:5px; 
}
input.singup{
width:100%;
height:60%;
border:2px solid green;
margin:auto;
text-align:center;
background:#A9D0F5; 
border: 10 px solid #eeeee; 
padding:9px 9px;
 width:300px; 
 border-radius:5px; 
}

